# Xcode
*.xcuserdata
*.xcworkspace/xcuserdata
*.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
DerivedData/
build/
*.xcodeproj/project.xcworkspace/xcuserdata
*.xcodeproj/xcuserdata

# Swift Package Manager
.build/
Packages/
Package.resolved
*.xcodeproj
xcuserdata/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Misc
.DS_Store
*.swp
*.swo
*~

# Playground
timeline.xctimeline
playground.xcworkspace
